/* Write your code here. */
.btn {
  background-color: #ffffff33;
  padding: 20px;
  outline: none;
  cursor: pointer;
  border-style: solid;
  border-color: #ffffff30;
  margin: 7px;
  border-radius: 15px;
}
